<nav class="navbar">
    <div class="logo">
      <a href="#">YourLogo</a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
<div>Hi {{ title }},
<p>This project is working file and this project has {{ numberone + numbertwo}} files</p>
{{togglestate ? "Working fine" : "Not working fine" }}
<br>
<!-- <router-outlet></router-outlet> -->
<!-- <img [src]="imgsrc" height="100" width="200"> -->
<!-- <input [(ngModel)]="favoriteAnimal"/> -->
</div>

